!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ModuloThree
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css", :rel => "stylesheet"}
  %body
    .d-flex.justify-content-center
      #page-content-wrapper
        .p-3

          - if flash[:notice].present?
            .alert.alert-success= flash[:notice]


          - if content_for? :title

            .d-flex.justify-content-between.align-items-center
              = content_for :title
              %div= content_for :title_actions

            %hr.mt-0

          = yield
